.contendor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  margin: 10px;
  font-weight: bold;
}

.winner {
  font-size: 26px;
  opacity: 0;
  transition: 1s;
}

.show-w{
  opacity: 1;
  transition: 1s;
}

.square {
  background: lightblue;
  border: 2px solid darkblue;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

.board-row{
  border: 4px solid darkblue;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.reset {
  margin: 10px;
  border: none;
  background-color: lightblue;
  color: darkblue;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}

.reset:disabled{
  background-color: #ececec;
  color: #000;
  cursor: default;
}